In [1]:
import pandas as pd
import numpy as np

C:\Users\hp\AppData\Local\Temp\ipykernel_7724\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\hp\Desktop\Code_files\DPP\notebooks\data\cubic_zirconia.csv")

In [3]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [4]:
fd = df.drop(labels = ["Unnamed: 0"], axis = 1)

In [5]:
fd.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [6]:
X = fd.drop(labels = ["price"], axis = 1)

In [7]:
X

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26967 rows x 9 columns]

In [8]:
y = fd[["price"]]

In [26]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26967 rows x 1 columns]

In [10]:
cat_cols = fd.select_dtypes(include="object").columns

In [11]:
cat_cols = fd.select_dtypes(include="object")
cat_cols

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26967 rows x 3 columns]

In [12]:
numerical_cols = fd.select_dtypes(exclude="object").columns

In [13]:
numerical_cols = fd.select_dtypes(exclude="object")

numerical_cols

       carat  depth  table     x     y     z  price
0       0.30   62.1   58.0  4.27  4.29  2.66    499
1       0.33   60.8   58.0  4.42  4.46  2.70    984
2       0.90   62.2   60.0  6.04  6.12  3.78   6289
3       0.42   61.6   56.0  4.82  4.80  2.96   1082
4       0.31   60.4   59.0  4.35  4.43  2.65    779
...      ...    ...    ...   ...   ...   ...    ...
26962   1.11   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27   61.8   56.0  4.19  4.20  2.60    682
26966   1.25   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 7 columns]

In below few cells what we actually doing is rather than finding missing values by ourself we creating pipelines for do all stuff both for categorical and numerical ones

In [14]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [15]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline # inside this pipeline all the feature engineering steps can be kept in sequence
from sklearn.compose import ColumnTransformer # create object of column transfer and then pass the above pipeline to it

In [16]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [17]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
    
)

In [18]:
## this preprocessor object has different methods like fit , fit_transform etc
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,cat_cols)
    ]
)

In [25]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=30)

# Apply preprocessing to the training set
preprocessor.fit_transform(X_train)

ValueError: No valid specification of the columns. Only a scalar, list or slice of all integers or all strings, or boolean mask is allowed

In [ ]:
preprocessor.transform(X_test)

In [ ]:
preprocessor.get_feature_names_out()

In [ ]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [ ]:
X_test

In [ ]:
X_train